---
import PrimaryLayout from '../layouts/PrimaryLayout.astro';

import { CldImage } from 'astro-cloudinary';
const publicId = 'web/urban/urban_00186_xgmhq0.webp';
const title = "Page not found";
---

<PrimaryLayout title={title}>
  <div class="not-found">
    <CldImage 
    src={publicId}
    alt="Page not found"
  />
    <h3>Page not found (404)</h3>
      <p>Looks like the page your requested doesn't exist.</p>
      <p><a href="/" class="button">&larr; Back home</a></p>
  </div>
</PrimaryLayout>

<style>
  .not-found {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
  }
  img {
    margin-bottom: 1rem;
  }
  h3 {
    font-size: var(--fs-600);
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 1rem;
  }
</style>