---
import PrimaryLayout from '../layouts/PrimaryLayout.astro';

const title = "Contact";
---

<PrimaryLayout title={title}>
  <div>
    <h2>Get in touch</h2>
    <iframe 
      style="border:none;width:100%;" 
      id="my-form-cncjz8" 
      src="https://opnform.com/forms/my-form-cncjz8">
    </iframe>
    <script type="text/javascript" 
      onload="initEmbed('my-form-cncjz8')" 
      src="https://opnform.com/widgets/iframe.min.js">
    </script>
  </div>
</PrimaryLayout>

<style>
  img {
    margin-bottom: 1rem;
  }
  h2 {
    padding-bottom: 0.5rem;
  }
  p {
    margin-bottom: 2rem;
  }
</style>