---
import PrimaryLayout from '../layouts/PrimaryLayout.astro';

const title = "Contact";
---

<PrimaryLayout title={title}>
  <div class="contact">
    <h3>Get in touch</h3>
    <iframe 
      style="border:none;width:100%;" 
      id="my-form-cncjz8" 
      src="https://opnform.com/forms/my-form-cncjz8">
    </iframe>
    <script type="text/javascript" 
      onload="initEmbed('my-form-cncjz8')" 
      src="https://opnform.com/widgets/iframe.min.js">
    </script>
  </div>
</PrimaryLayout>

<style>
  .contact {
    margin: 0 auto;
    max-width: 500px;
    text-align: center;
  }
  img {
    margin-bottom: 1rem;
  }
  h3 {
    font-size: var(--fs-600);
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 1rem;
  }
</style>