---
const { class: className } = Astro.props;
---

<div class:list={[className, "front-page-container"]}>
<h2 class="visually-hidden">Featured Image</h2>
<article>
  <img src="" alt="">
  <h3>About</h3>
  <div class="flow">
    <p>Hi, I'm the person behind Slllector. I love taking photos that tell real, honest stories—whether it's a quiet moment or something that just catches the eye. Thanks for stopping by. I hope you enjoy seeing the world the way I do, one photo at a time.</p>
    <a href="#" class="button">
      View my photographs
    </a>
  </div>
</article>
</div>

<style>
  .front-page-container {
    container-type: inline-size;
  }
  article {
    display: grid;
    gap: 1rem;
    @container (width > calc(25ch * 2)){
      gap: 2rem 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
  img {
    grid-column: 1 / -1;
  }

  h3 {
    font-size: var(--fs-600);
  }
</style>