@font-face {
  font-family: 'FiraCode';
  src: url('/fonts/FiraCode-VariableFont_wght.ttf');
  font-weight: 400 700;
  font-display: swap;
}

:root {
  --clr-black: hsl(0, 0%, 0%);
  --clr-grey: hsl(0, 1%, 23%);
  --clr-white: hsl(0, 0%, 100%);
  --clr-light-grayish-orange: hsl(38, 35%, 86%);
  --clr-red: hsl(0, 100%, 50%);

  --clr-body: var(--clr-grey);
  --clr-heading: var(--clr-black);
  --clr-accent-400: var(--clr-light-grayish-orange);

  --ff-base: "FiraCode", monospace;

  --fw-regular: 400;
  --fw-medium: 500;
  --fw-semi-bold: 600;
  --fw-bold: 700;

  --fs-400: 1rem;
  --fs-500: 1.25rem;
  --fs-600: 1.5rem;
  --fs-700: 2rem;
  --fs-800: 2.5rem;
  --fs-900: 3rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, p {
  margin: 0;
}

h1, h2, h3, h4 {
  color: var(--clr-heading);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  text-wrap: balance;
}

p, li {
  text-wrap: pretty;
  max-width: 65ch;
}

[role="list"] {
  list-style: none;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

body {
  margin: 0;
  color: var(--clr-body);
  font-family: var(--ff-base);
  line-height: 1.6;
}

main, 
section {
  container-type: inline-size;
  margin-bottom: 2rem;
}

footer {
  padding: 2rem 0;
  text-align: center;
}

.base-layout {
  --max-width: 1180px;
  --padding: 1rem;

  display: grid;
  grid-template-columns:
    minmax(var(--padding), 1fr) 
    min(var(--max-width), 100% - (var(--padding) * 2))
    minmax(var(--padding), 1fr);

  & > * {
    grid-column: 2 / 3;
  }

  & > .full-width {
    grid-column: 1 / -1;
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.flow > * + * {
  margin-block-start: var(--flow-space, 1em);
}

.section {
  margin-block-end: 3rem;
}

.button {
  display: inline flex;
  cursor: pointer;
  text-decoration: none;
  background-color: var(--clr-accent-400);
  color: var(--clr-black);
  padding: .75em 1.5em;
  font-weight: var(--fw-bold);
  letter-spacing: .25ch;

  &:hover, 
  &:focus-visible {
    background-color: var(--clr-black);
    color: var(--clr-white);
  }
}

h2 {
  font-weight: var(--fw-regular);
  letter-spacing: 0.1em;
  padding-bottom: 2rem;
}
